<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Filter Products</title>
  <style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ccc;
      }
      
      th, td {
        padding: 5px;
        text-align: center;
      }
      
      th {
        background-color: #ccc;
      }  
      nav {
        background-color: #ccc;
        padding: 10px;
      }
      
      nav a {
        color: #000;
        text-decoration: none;
        padding: 10px;
      }
      
      nav a:hover {
        background-color: #000;
        color: #fff;
      }
      
      @media screen and (max-width: 768px) {
        nav {
          display: flex;
          flex-direction: column;
        }
      
        nav a {
          width: 100%;
        }
      }
      body {
        padding: 50px;
      }
  </style>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <nav>
        <a href="/">Last Checked Products</a>
        <a href="/filter">Filter Products</a>
        {% comment %} <a href="/filteredByDate">Filter by Date</a>
        <a href="/filteredByIdentifier">Filter by Identifier</a>
        <a href="/filteredByProvider">Filter by Provider</a> {% endcomment %}
        <a href="/all/">All Products History</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="/logs">Logs</a>

      </nav>
    
  <h1>Filter Products</h1>
  <form method="POST">
  {% csrf_token %}
  <label for="provider">Provider:</label>
  <select id="provider" name="provider">
    <option value=""></option>
    <option value="baninopc" {% if form_data.provider == "baninopc" %}selected{% endif %}>baninopc</option>
    <option value="berozkala" {% if form_data.provider == "berozkala"  %}selected{% endif %}>berozkala</option>
    <option value="digikala" {% if form_data.provider == "digikala" %}selected{% endif %}>digikala</option>
    <option value="exo" {% if form_data.provider == "exo"  %}selected{% endif %}>exo</option>
    <option value="lioncomputer" {% if form_data.provider == "lioncomputer" %}selected{% endif %}>lioncomputer</option>
    <option value="meghdadit" {% if form_data.provider == "meghdadit" %}selected{% endif %}>meghdadit</option>
    <option value="shopmit" {% if form_data.provider == "shopmit" %}selected{% endif %}>shopmit</option>
    <option value="toprayan" {% if form_data.provider == "toprayan" %}selected{% endif %}>toprayan</option>
    <option value="torob" {% if form_data.provider == "torob" %}selected{% endif %}>torob</option>
    <option value="emalls" {% if form_data.provider == "emalls" %}selected{% endif %}>emalls</option>
  </select> 
  <label for="fromDate">From Date:</label>
  <input type="date" id="fromDate" name="fromDate", value="{{ form_data.fromDate }}">
  <label for="toDate">To Date:</label>
  <input type="date" id="toDate" name="toDate", value="{{ form_data.toDate }}">
  <label for="identifier">Identifier:</label>
  <input type="text" id="identifier" name="identifier", value="{{ form_data.identifier }}">
  <button type="submit">Filter</button>
  <button type="submit" name="download_excel">Download Excel</button>
  </form>
{% if filteredData %}


  {% for identifier, products in filteredData.items %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="heading{{ forloop.counter }}">
        <h2 class="mb-0">
          <button class="btn" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
            ( {{ identifier }} )  {{ products.0.title }}
          </button>
        </h2>
      </div>

      <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
        <div class="card-body">
          <table>
            <thead>
              <tr>
                <th>Product Name</th>
                <th>Color</th>
                <th>Status</th>
                <th>Warranty</th>
                <th>Price</th>
                <th>Insurance</th>
                <th>Supplier</th>
                <th>DateTime</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.color }}</td>
                <td>{{ product.status }}</td>
                <td>{{ product.warranty }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.insurance }}</td>
                <td>{{ product.supplier }}</td>
                <td>{{ product.dateTime }}</td>
                <td>{{ product.url }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p>No products found .</p>
{% endfor %}  {% else %}
  <p>No products found .</p>
  {% endif %}

</body>
</html>